<div class="header text-right">
    <ul>

        <li>
            <div *ngIf="countBucket$ | async as count">
                <nz-badge [nzCount]="count.BucketList.length" [nzOverflowCount]="99">
                    <a href="javascript:;" [routerLink]="['/bucket']"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i></a>
                </nz-badge>
            </div>

        </li>
        <li>
            <div *ngIf="countWishlist$ | async as count">
                <nz-badge [nzCount]="count.Wishlist.length" [nzOverflowCount]="99">
                    <a href="javascript:;" [routerLink]="['/wishlist']"><i nz-icon nzType="heart" nzTheme="outline"></i></a>
                </nz-badge>
            </div>
        </li>
        <li class="mr-0">

            <div *ngIf="user$ | async as user">
                <a href="javascript:;" class="d-inline-block"
                   nz-popover
                   nzPopoverPlacement="bottomRight"
                   nzPopoverTitle=""
                   [(nzPopoverVisible)]="visible"
                   (nzPopoverVisibleChange)="change($event)"
                   nzPopoverTrigger="click"
                   [nzPopoverOverlayClassName]="'avatarContentTemplate'"
                   [nzPopoverContent]="contentTemplate">
                    <img [src]="user.UserData.avatar ? user.UserData.avatar : 'https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png'"
                         class="avatar"/>
                </a>

                <ng-template #contentTemplate>
                    <p>
                        Welcome, {{user.UserData.first_name}} {{user.UserData.last_name}}
                    </p>
                    <hr/>
                    <a href="javascript:;" (click)="logout()">Logout</a>
                </ng-template>
            </div>


        </li>
    </ul>
</div>
