<div class="header text-right">
    <ul>

        <li>
            <div *ngIf="countBucket$ | async as count">
                <nz-badge [nzCount]="count.BucketList.length" [nzOverflowCount]="99">
                    <a href="javascript:;"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i></a>
                </nz-badge>
            </div>

        </li>
        <li>
            <div *ngIf="countWishlist$ | async as count">
                <nz-badge [nzCount]="count.Wishlist.length" [nzOverflowCount]="99">
                    <a href="javascript:;"><i nz-icon nzType="heart" nzTheme="outline"></i></a>
                </nz-badge>
            </div>
        </li>
        <li class="mr-0">
            <a href="javascript:;" class="d-inline-block"
               nz-popover
               nzPopoverPlacement="bottomRight"
               nzPopoverTitle=""
               [(nzPopoverVisible)]="visible"
               (nzPopoverVisibleChange)="change($event)"
               nzPopoverTrigger="click"
               [nzPopoverOverlayClassName]="'avatarContentTemplate'"
               [nzPopoverContent]="contentTemplate">
                <img src="https://az360.school/public/files/users/full/b52e290c_free-profile-photo-whatsapp-4.png"
                     class="avatar"/>
            </a>

            <ng-template #contentTemplate>
                <p>
                    Linz Stadler
                </p>
                <hr/>
                <a href="javascript:;">Logout</a>
            </ng-template>

        </li>
    </ul>
</div>
