<main class="mt-5">
    <div *ngIf="products.items.length > 0">
        <nz-list nzGrid>
            <div nz-row [nzGutter]="[32, 16]">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="10" [nzMd]="10" [nzSm]="12" [nzXs]="24"
                     *ngFor="let item of products.items">
                    <nz-list-item>
                        <app-product [data] = "item"></app-product>

                    </nz-list-item>
                </div>
            </div>
        </nz-list>
    </div>
    <div *ngIf="isLoading">
        <app-loading-container></app-loading-container>
    </div>
</main>
