@import "src/assets/color/palette";

.product {
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border-radius: 1rem;
  background-color: $light;
  h5, p {
    text-overflow: ellipsis;
  }
  img {

    border-radius: 1rem;
  }
  .customStaticRow {
    & > div:first-child {
      width: 112px;
    }

    & > div:last-child {
      width: calc(100% - 112px);
    }
  }
  .type {

    padding: .2rem .8rem;
    background-color: $primary-100;
    border-radius: 1rem;
    width: fit-content;
    width: -moz-fit-content;


  }
  .icons {
    margin-top: -7px;
    font-size: 1rem;
  }
}
