<div class = "login">
    <h3 class = "mb-4">Login</h3>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-item>
            <nz-form-control nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" placeholder="E-mail" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
        <nz-form-item>

            <nz-form-control nzErrorTip="Please input your Password!">
                <input type="password" nz-input formControlName="password" id = "password" placeholder="Password" />
            </nz-form-control>
        </nz-form-item>

        <button nz-button class="px-4 btn-primary ">Log in</button>
        Or
        <a [routerLink]="['/auth/register']">register now!</a>
    </form>

</div>
