// ng zorro default style
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

// bootstrap css using utilities
@import "assets/css/bootstrap.min.css";

// color palette
@import "assets/color/palette";

// text font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// global styles
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.15;
}

.btn-primary {
  color: #fff;
  border-color: $primary;
  background: $primary;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}


// set bg color when home layout is active
.homeBody {
  background-color: $primary;
}

// set bg color when authentication layout is active
.authBody {
  background-color: $primary-100;
}
.avatarContentTemplate {
  width: 200px;
}
